{% load staticfiles i18n pipeline %} 
<table  width="100%" id="caseHistoryTable" class="table table-striped">
    <thead>
        <tr>
            <th>{% trans  'antares.apps.flow.templates.dashboard.historyTab.id' %}</th>
            <th>{% trans  'antares.apps.flow.templates.dashboard.historyTab.activityName' %}</th>
            <th>{% trans  'antares.apps.flow.templates.dashboard.historyTab.status' %}</th>
            <th>{% trans  'antares.apps.flow.templates.dashboard.historyTab.creationDate' %}</th>
            <th>{% trans  'antares.apps.flow.templates.dashboard.historyTab.startDate' %}</th>
            <th>{% trans  'antares.apps.flow.templates.dashboard.historyTab.finishDate' %}</th>
            <th>{% trans  'antares.apps.flow.templates.dashboard.historyTab.performer' %}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>