{% load staticfiles i18n pipeline %} 
<table  width="98%" id="casePropertiesTable" class="table table-striped">
    <thead>
        <tr>
            <th width="20%">{% trans  'antares.apps.flow.templates.dashboard.propertiesTab.propertyName' %}</th>
            <th width="80%">{% trans  'antares.apps.flow.templates.dashboard.propertiesTab.value' %}</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>