{% extends "base_layout.html" %} {% load staticfiles i18n pipeline %} 
{% block content %} 

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="antares_terminal"></div>
        </div>
    </div>
</div>
    
<script type="text/javascript">
	var antaresTerminalLinks = { 
          terminal_call: "{% url 'antares.apps.terminal:terminal_ajax_call' %}", 
   };
   
    $(document).ready(function() { 
        display_terminal_panel();
    });
</script>


{% endblock %} 

{% block javascript %} 
    {% javascript 'jquery_terminal' %} 
    {% javascript 'terminal_panel_js' %} 
{% endblock javascript %} 

{% block stylesheets %}
{% stylesheet 'jquery_terminal' %} 
{% endblock stylesheets %} 

{% block ng_app_name %}{% endblock ng_app_name %}
