{% extends template %} 
{% load staticfiles i18n pipeline markdown_deux_tags static %} 

{% block title %}Antares Document{% endblock %}
{% block ng_app_name %}{% endblock ng_app_name %}
{% block bodyId %}Antares Document{% endblock %}
{% block javascript %} 
    {% if is_inner == 'false' %}
        {% javascript 'jquery_ui_js' %} 
    {% endif %}
    {% javascript 'document_edit_common_js' %} 
    <script type="text/javascript" src="{% get_media_prefix %}{{edit_js_path}}"></script>
{% endblock javascript %} 

{% block stylesheets %}
    {% if is_inner == 'false' %}
        {% stylesheet 'jquery_ui_css' %} 
    {% endif %} 
    
{% endblock stylesheets %} 

{% block content %} <div class="container">
  <script type="text/javascript">
var redirectTo = "{{ next_place }}"; 
var g_showSubmit = {{showSubmit}} == 1 ? true : false; 
var antaresDocLinks = { 
    api_submit_call: "{% url 'antares.apps.document:api_edit_submit_view' %}", 
    api_autocomplete_call: "{% url 'antares.apps.core:api_autocomplete_options_view' %}", 
    api_select_call: "{% url 'antares.apps.core:api_select_options_view' %}", 
    }; 
$(document).ready(function() { 
    setup_document_edit_view();
    validateDocument();
});

</script>
  <form id="documentEditorForm" method="POST">
    <input type="hidden" name="_event" value="" id="_event"/>
    <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{csrf_token}}"/>
    <input type="hidden" id="_formType" name="_formType" value="{{formType}}"/>
    <input type="hidden" id="headerFields[form_name]" name="headerFields[form_name]" value="{{headerFields.form_name|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[form_version]" name="headerFields[form_version]" value="{{headerFields.form_version|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[document_version]" name="headerFields[document_version]" value="{{headerFields.document_version|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[active_version]" name="headerFields[active_version]" value="{{headerFields.active_version|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[document_id]" name="headerFields[document_id]" value="{{headerFields.document_id|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[author]" name="headerFields[author]" value="{{headerFields.author.id|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[draft_date]" name="headerFields[draft_date]" value="{{headerFields.draft_date|date:'c'|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[associated_to]" name="headerFields[associated_to]" value="{{headerFields.associated_to.id|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[association_type]" name="headerFields[association_type]" value="{{headerFields.association_type.value|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[flow_case]" name="headerFields[flow_case]" value="{{headerFields.flow_case.id|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[origin]" name="headerFields[origin]" value="{{headerFields.origin.value|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[status]" name="headerFields[status]" value="{{headerFields.status.value|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[client]" name="headerFields[client]" value="{{headerFields.client.id|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[branch]" name="headerFields[branch]" value="{{headerFields.branch.id|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[concept_type]" name="headerFields[concept_type]" value="{{headerFields.concept_type.id|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[account_type]" name="headerFields[account_type]" value="{{headerFields.account_type.id|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[period]" name="headerFields[period]" value="{{headerFields.period|default_if_none:''}}"/>
    <input type="hidden" id="headerFields[account_document]" name="headerFields[account_document]" value="{{headerFields.account_document.id|default_if_none:''}}"/>
    <div class="navbar">
      <ul class="nav nav-pills pull-left">
        <li>
          <a class="btn btn-primary" id="documentValidateButton" onclick="validateDocument();">
								{% trans 'antares.apps.document.edit.buttons.validate' %}</a>
        </li>
        <li>
          <a class="btn btn-primary" href="#" onclick="$('#_event').val('DRAFT MODIFICATION'); formSubmission('DRAFT MODIFICATION');" id="documentDraftButton">{% trans 'antares.apps.document.edit.buttons.draft' %}</a>
        </li>
        <li>
          <a class="btn btn-primary" href="#" onclick="$('#_event').val('SAVE'); formSubmission('SAVE');" id="documentSaveButton">
								{% trans 'antares.apps.document.edit.buttons.save' %}</a>
        </li>
      </ul>
      <ul class="nav nav-pills pull-right">
        <li>
          <a class="btn btn-primary" onClick="$('#documentHelpDialog').dialog('open');">
									{% trans 'antares.apps.document.edit.buttons.help' %}</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div id="documentTitle" class="col-lg-12">
        <h4>Mensaje de Economix</h4>
      </div>
      <div id="documentEditTabs" class="col-lg-12">
        <ul class="nav nav-tabs">
          <li>
            <a href="#antaresDocumentPage-1">Página 1</a>
          </li>
        </ul>
        <div class="tab-content">
          <br/>
          <div class="tab-pane fade in active" id="#antaresDocumentPage-1">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <span>Información General</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <span>ID de mensaje</span>
                </div>
                <div class="col-lg-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="fieldCode_messageId">100</span>
                    <input value="{{fields.messageId|default_if_none:'0'}}" id="fields[messageId]" name="fields[messageId]" readonly="true" onblur="evaluateDocument(false);" class="form-control" title="Id de mensaje emitido por economix" data-toggle="" aria-describedby="fieldCode_messageId"/>
                  </div>
                </div>
                <div class="col-lg-3">
                  <span>Fecha de Emisión</span>
                </div>
                <div class="col-lg-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="fieldCode_timestamp">101</span>
                    <input value="{{fields.timestamp|default_if_none:''}}" id="fields[timestamp]" name="fields[timestamp]" readonly="true" onblur="evaluateDocument(false);" class="form-control" title="This is the message id" data-toggle="" aria-describedby="fieldCode_timestamp"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <span>Mercado Local</span>
                </div>
                <div class="col-lg-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="fieldCode_localMarket">102</span>
                    <input value="{{fields.localMarket|default_if_none:''}}" id="fields[localMarket]" name="fields[localMarket]" readonly="true" onblur="evaluateDocument(false);" class="form-control" title="Mercado Local" data-toggle="" aria-describedby="fieldCode_localMarket"/>
                  </div>
                </div>
                <div class="col-lg-3">
                  <span>Mercado Extranjero</span>
                </div>
                <div class="col-lg-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="fieldCode_foreignMarket">103</span>
                    <input value="{{fields.foreignMarket|default_if_none:''}}" id="fields[foreignMarket]" name="fields[foreignMarket]" readonly="true" onblur="evaluateDocument(false);" class="form-control" title="Mercado Extranjero" data-toggle="" aria-describedby="fieldCode_foreignMarket"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-9">
                  <span>Retorno Promedio</span>
                </div>
                <div class="col-lg-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="fieldCode_avgReturn">120</span>
                    <input value="{{fields.avgReturn|default_if_none:'0'}}" id="fields[avgReturn]" name="fields[avgReturn]" readonly="true" onblur="evaluateDocument(false);" class="form-control" title="Retorno Promedio" data-toggle="" aria-describedby="fieldCode_avgReturn"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-9">
                  <span>Retorno Operation</span>
                </div>
                <div class="col-lg-3">
                  <div class="input-group">
                    <span class="input-group-addon" id="fieldCode_avgOperation">121</span>
                    <input value="{{fields.avgOperation|default_if_none:'0'}}" id="fields[avgOperation]" name="fields[avgOperation]" readonly="true" onblur="evaluateDocument(false);" class="form-control" title="Operacion Promedio" data-toggle="" aria-describedby="fieldCode_avgOperation"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="documentSaveDialog" style="display:none;">
      <div id="documentSaveDialogContent">The document has been submitted to the system</div>
    </div>
    <div id="documentDraftDialog" style="display:none;">
      <div id="documentDraftDialogContent">The document has been Drafted</div>
    </div>
    <div id="documentHelpDialog" style="display:none;">
      <div id="documentSaveHelpContent">{% markdown trusted %}
			
                
		{% endmarkdown %}</div>
    </div>
  </form>
</div>{% endblock %}

